.hello {
  text-align: center;
  margin: 20px;
  font-size: 48px;
  font-family: "Segoe UI", Verdana, Geneva, Tahome, sans-serif;
}

.hello button {
  margin: 0 25px;
  font-size: 40px;
  min-width: 50px;
}